@{
  ViewData["Title"] = "Home page";
}

<p class="px-5">
  Demo 1 - MVC application with PrimeVue table <br/>
</p>
<p class="px-5">
Podaci za prijavu: 
<ul class="mx-5">
  <li>ivo/ivo</li>
  <li>rade/rade</li>
</ul>
</p>
